.h5p-infobox {
  display: flex;
  justify-content: space-around;
}
.h5p-infobox .h5p-infobox-container {
  width: 100%;
  max-width: -webkit-fill-available;
  max-width: -moz-available;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px #ccc;
}
.h5p-infobox.h5p-fullscreen .h5p-infobox-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.h5p-infobox.h5p-fullscreen {
  background-color: white;
}
.h5p-infobox .h5p-infobox-close {
  display: none!important;
}
.h5p-infobox .infobox-image-container {
  display: flex;
  justify-content: space-around;
}
.h5p-infobox .infobox-image {
  max-width: 100%;
  height: auto;
}
.h5p-infobox .infobox-header {
  font-family: fantasy;
  color: #797979;
}
.h5p-infobox .infobox-text {
  width: auto;
  margin: 16px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}
.infobox-durationcontainer,
.infobox-backcontainer {
  height: 25px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px 1px #ccc;
  margin-top: 10px;
}
.infobox-durationstatus {
  height: 100%;
  width: 0%;
  background-color: #1a73d9;
  animation-fill-mode: forwards!important;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.infobox-btn {
  cursor: pointer;
}
.infobox-btn:hover,
.infobox-btn:focus {
  background-color: #1356a3;
}
.infobox-btn:active {
  background-color: #104888;
}
.infobox-back {
  background-color: #1a73d9;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.infobox-icon {
  color: white;
  font-size: large;
  padding: 10px 10px 7.5px 10px;
  opacity: 0;
  transition: 0.6s;
}

@keyframes progress {
  from {width: 0%;}
  to {width: 100%;}
}